.PARA{
    background-color: cadetblue;
    color: floralwhite;
    font-family: sans-serif;
    text-align: center;
    font-size: 100px;
}

.mrk{
    background-color: cadetblue;
    color: floralwhite;
    font-family: sans-serif;
    text-align: center;
    font-size: 100px;
}

.DATA{
    background-color: cadetblue;
    color: floralwhite;
    font-family: sans-serif;
    text-align: center;
    font-size: 100px;
}

.header{
    background-color: cadetblue;
    color: floralwhite;
    font-family: sans-serif;
}

.image{
    background-image: url("ronaldo.webp");
}

.pic{
    padding: 50px;
    margin-left: 500px;
}

.list{
    border: 15px solid green;
    border-radius: 15px;
    border-style: groove; 
}

.high{
    background-color: lightcoral;
}

div{
    border: 4px solid black;
    height: 300px;
    width: 300px;
    padding: 10px;
    background-color: cornflowerblue;
    text-align: justify;
}

.paragragh{
    text-align: center;
    
}